/* .Users li{
    font-size: 40px;
    text-align: center;
} */

.Users button{
    margin: auto;
    margin-left: 50%;
    font-size: xx-large;
}
.Users input{
    margin: auto;
    margin-left: 50%;
    font-size: xx-large;
}